/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import './base.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './primevue/tailwind.css';
@import 'tailwindcss/utilities';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* color: white; */
}
html,
body {
  min-height: 100vh !important;
}
#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  font-weight: normal;
}
